body{
  margin:0;
  font-family:Arial;
  background:#0b0f14;
  color:white;
}

.top{
  background:#111827;
  padding:15px;
}

.layout{
  display:flex;
}

.sidebar{
  width:220px;
  background:#111827;
  padding:10px;
  height:100vh;
}

.sidebar a{
  display:block;
  padding:10px;
  color:white;
  text-decoration:none;
}

.sidebar a:hover{
  background:#2563eb;
}

main{
  flex:1;
  padding:20px;
}

.option{
  border:1px solid gray;
  padding:10px;
  margin-top:10px;
  cursor:pointer;
}
